<!--The content below is only a placeholder and can be replaced.-->
<nav id="navigation">

</nav>
<nav id="user_logged" class="navbar navbar-expand-lg navbar-dark bg-ponla fixed-top">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fas fa-play"></span>
    <!-- <i class="navbar-toggler-icon"></i> -->
  </button>

  <div class="collapse navbar-collapse fixed" id="navbarsExample05">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="identity">
        <a class="nav-link"><i class="fas fa-search"></i> Buscar</a>
      </li>
      <li class="nav-item" *ngIf="identity">
        <a class="nav-link" [routerLink]="['/Artista', 1]" [routerLinkActive]="['active']"><i class="fas fa-users"></i> Artistas</a>
      </li>
      <li class="nav-item" *ngIf="identity">
        <a class="nav-link"><i class="fas fa-compact-disc"></i> Albums</a>
      </li>
      <li class="nav-item" *ngIf="identity">
        <a class="nav-link"><i class="fab fa-itunes-note"></i> Canciones</a>
      </li>
      <li class="nav-item dropdown" *ngIf="!identity">
        <a class="nav-link dropdown-toggle" id="dropdown00" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i> Buscar</a>
        <div class="dropdown-menu" aria-labelledby="dropdown00">
          <a class="dropdown-item" href="#">Registrate o Inicia Sesión</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="!identity">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i> Artistas</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Registrate o Inicia Sesión</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="!identity">
        <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-compact-disc"></i> Albums</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" href="#">Registrate o Inicia Sesión</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="!identity">
        <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fab fa-itunes-note"></i> Canciones</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" href="#">Registrate o Inicia Sesión</a>
        </div>
      </li>
      <li *ngIf="identity" class="nav-item">
        <a class="nav-link" [routerLink]="['/Perfil']" [routerLinkActive]="['active']"><i class="fas fa-cog"></i> Credenciales</a>
      </li>
    </ul>
    <img *ngIf="identity" src="{{url + 'get-image-user/' + identity.imagen}}" class="thumbnail-navbar" alt="Avatar">
    <h5 id="img-logged" *ngIf="identity" id="identity_name" class="nav-link text-light">{{identity.nombre}} {{identity.apellido}}</h5>
    <button *ngIf="identity" type="button" name="button" class="btn btn-danger" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
    <router-outlet></router-outlet>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div *ngIf="identity" class="col-lg-12">
        <h1>

        </h1>
        <!-- <nav>
          <a href="#"></a>
          <a href="#"><i class="fas fa-users"></i> Artistas</a>
          <a href="#"><i class="fas fa-compact-disc"></i> Albums</a>
          <a href="#"><i class="fab fa-itunes-note"></i> Canciones</a>
          <a [routerLink]="['/mi-perfil']"><i class="fas fa-cog"></i> Credenciales</a>
          Bienvenido <strong id="identity_name">{{identity.nombre}} {{identity.apellido}}</strong>

        </nav> -->
      </div>
    </div>
    <div class="container">
      <div *ngIf="!identity" class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 text-center">
            <h3>Iniciar Sesión</h3>
            <div *ngIf="errorMessage">
              <div class="alert alert-danger" role="alert">
              <strong>Error</strong>: <u>{{errorMessage}}</u>
              </div>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
              <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" placeholder="Correo Electrónico..." required/>
                <span class="text-muted" *ngIf="!email.valid && email.touched">El Correo Electrónico es Obligatorio</span>
              </div>
              <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Contraseña..." required/>
              </div>
              <button type="submit" name="button" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Entrar</button>
            </form>
          </div>
          <div class="col-lg-6 text-center">
            <h3>Regístrate</h3>
            <div *ngIf="alertRegister">
              <div class="alert alert-success" role="alert">
              <strong>Éxito</strong>: <u>{{alertRegister}}</u>
              </div>
            </div>
            <form class="col-lg-12" (ngSubmit)="onSubmitRegister()" #registerForm="ngForm">
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input #nombre="ngModel" name="nombre" [(ngModel)]="user_register.nombre" type="text" class="form-control" placeholder="Nombre..." required>
                <span class="text-muted" *ngIf="!nombre.valid && nombre.touched">El Nombre es Obligatorio</span>
              </div>
              <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input #apellido="ngModel" name="apellido" [(ngModel)]="user_register.apellido" type="text" class="form-control" placeholder="Apellidos..." required>
                <span class="text-muted" *ngIf="!apellido.valid && apellido.touched">El Apellido es Obligatorio</span>
              </div>
              <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input #email="ngModel" name="email" [(ngModel)]="user_register.email" type="email" class="form-control" placeholder="Correo Eléctronico..." required>
                <span class="text-muted" *ngIf="!email.valid && email.touched">El Correo Electrónico es Obligatorio</span>
              </div>
              <div class="form-group">
                <label for="password">Contraseña:</label>
                <input #password="ngModel" name="password" [(ngModel)]="user_register.password" type="password" class="form-control" placeholder="Contraseña..." required>
                <span class="text-muted" *ngIf="!password.valid && password.touched">La Contraseña es Obligatoria</span>
              </div>
              <button type="submit" name="submit" class="btn btn-success"><i class="fas fa-plus"></i> Registrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



<router-outlet></router-outlet>
